* {
  margin: 0;
  padding: 0;
  font-size: 40px;
}

.box-one {
  background-color: #eb5757;
  padding: 10px;
  height: 100px;
  width: 100px;
  border: 30px solid #9b51e0;
  margin: 60px;
  box-sizing: border-box;
}

.box-two {
  background-color: #56ccf2;
  padding: 10px;
  height: 100px;
  width: 100px;
  border: 30px solid #27ae60;
  margin: 60px;
}
