.container {
  width: 500px;
  height: 500px;
  position: relative;
  animation: rotateContainer 3s linear infinite;
}

.circle {
  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  height: 100px;
  width: 100px;
  background-color: red;
  border-radius: 50%;
  animation: cirkleInOut 3s linear infinite;
}

@keyframes rotateContainer {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cirkleInOut {
  0%,
  100% {
    transform: rotate(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translate(0px);
  }
  50% {
    transform: rotate(
        calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
      )
      translate(250px);
  }
}
